Set the User-Agent

To be able to distinguish different clients from one another, the `User-Agent` header should be set on every HTTP request against PayEx' API.

The format of the `User-Agent` header should be as per [RFC 7231 section 5.5.3](https://tools.ietf.org/html/rfc7231#section-5.5.3). We should include as much information in the header as possible, such as the version of .NET and any library relevant to the HTTP request. Simply put, it should look something like this:

```http
User-Agent: PayEx.EPi.Commerce.Payment/1.2.3 EpiServer/9.0.1 Microsoft.NET/4.0.30319 (Windows NT 8)
```

